@using MovieDatabase.Models 
@model Movie

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Проголосовать за фильм";
}

<div>
    <h4>Спасибо за ваш голос :)</h4>
    <form method="post" action="">
        <input type="hidden" value="@ViewBag.MovieId" name="MovieId" />
        <input type="submit" value="Продолжить" />
    </form>
</div>