@*Проголосовать за выбранного актера*@

@using MovieDatabase.Models
@model Actor

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Проголосовать за актера";
}

<div>
    <h4>Спасибо за ваш голос :)</h4>
    <form method="post" action="">
        <input type="hidden" value="@ViewBag.ActorId" name="ActorId" />
        <input type="submit" value="Продолжить" />
    </form>
</div>